.cert-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vh;
}
.certificate{
    width: 38%;
    height: 50%;
    text-align: center;
    transition: 0.5s;
    background-color: #465888;
}
.certificate img{
    width: 80%;
    height: 70%;
    padding: 2vh 0;
    margin-bottom: 2vh;
    transition: 0.3s ease;
    filter: saturate(0);
}
.certificate img:hover{
    filter: saturate(1);
}
.certificate a{
    background-color: white;
    padding: 1vh 3vh;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}
.certificate a:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:900px){
    .cert-container{
        justify-content: center;
        align-items: center;
    }
    .certificate{
        width: 80%;
        height: 55%;
    }
    .certificate img{
        filter: saturate(1);
    }
    
}