main{
    align-items: start;
}
.title{
    font-size: 2em;
    font-weight: bold;
    margin-left: 30vw;
    margin-top: 2vh;
}

.varsity{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left:10vw ;
    
}
.varsity p, .varsity h4 {
    margin: 2px 0;  /* Reduce vertical spacing */
    line-height: 1;  /* Reduce line height for compactness */ 
}
.varsity p{
    font-size: 0.8em;
}

.courses{
    margin-left:10vw;
}
.courses p{
    font-weight: bold;
}
.courses-tag{
    width: 95%;
}

.courses-tag button{
    background-color: white;
    border: 1px solid;
    margin-bottom: 2vh;
    margin-left: 0.7vw;
    color: black;
    
}
.varsity ul{
    display: block;
    width: 100%;
}
.varsity li{
    list-style: disc;
    text-align: start;
    font-size: 0.85rem;
    margin-left: 1.9vw;
    padding-bottom: 1vh;
}