.grid-layout{
    display:grid;
    /*background-color: #205781;*/
    grid-template-columns:repeat(4, 1fr);
    place-self: center;
    border: 1px solid purple; /* Neon Cyan Border */
    box-shadow: 0 0 5px rgb(69, 151, 198), 0 0 20px rgba(66, 0, 128, 0.032), 0 0 5px purple; /* Glowing Effect */
    border-radius: 10px;
}
figure{
    transition: 1s;
}
figure:hover{
    transform: scale(1.1);
}
figure i{
    font-size: 2.8em;
    align-items: center;
    font-weight: bold;
}

figcaption{
    font-size: 0.65em;
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 900px){
    .grid-layout{
        grid-template-columns:repeat(2, 1fr);
    }
}